*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #dddd;
    text-align: center;
    align-items: center;
}

.admin-content{
    padding-top: 50px;
    display: flex;
}

.admin-content-left{
    background-color: #dddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}
.admin-content-left >ul >li> a{
    font-weight: bold;
}
.admin-content-left ul li{
    margin: 6px 9;
}
.admin-content-left ul ul{
    margin-left: 20px;
}

.admin-content-right{
    width: 80%;
    padding: 30px 0 0 12px;
}

.product-add-content input {
    outline: none;
    outline: none;
    padding-left: 6px;
    height: 30px;
    margin-bottom: 20px;
    width: 500px;
}
.product-add-content label {
    display: block;
}
.product-add-content select{
    outline: none;
    padding-left: 6px;
    height: 30px;
    width: 500px;
    margin-bottom: 20px;
}
.product-add-content textarea {
    outline: none;
    padding: 6px;
    width: 500px;
}

/* --------------------------SLIDER CONTENT--------------------------- */
.table-content table {
    width: 100%;
}
.table-content table,th,td {
    text-align: center;
    border: 1px solid #cccc;
    border-collapse: collapse;
    padding: 12px 0;
    font-family: 'Bona Nova', serif;
}

.table-content table img {
    width: 200px;
}
.table-add-content input {
    margin: 30px 0;
}
.admin-btn {
    display: block;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    margin-top: 20px;

}
.slider-edit img {
    width: 150px;
}